* {
  box-sizing: border-box;
  margin: 0;
}

nav {
  display: flex;
  background-color: #13174b;
  align-items: center;
  padding: 5px;
  justify-content: space-between;
}

nav .title {
  text-decoration: none;
  color: white; /* Default color for the title */
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  margin: 0 5px; /* Adjust margin as needed */
}

nav ul li a {
  display: block;
  padding: 0.5rem 0.8rem;
  text-decoration: none;
  color: white; /* Default text color */
}



nav ul li a:active {
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}


nav ul li a:focus {
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
